<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome do Serviço</th>
                <th>Valor Consumido</th>
                <th>Fatura</th>
                <th>Aeroporto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let operation of data">
                <th>
                  <a href="{{operation.id }}">{{operation.id || 'N/A'}}</a>
                </th>
                <th>{{operation.service.name}}</th>
                <th>{{operation.consume}}</th>
                <th>R$ {{operation.payment}}</th>
                <th>{{operation.airport}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
