<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome do Serviço</th>
                <th>Valor Consumido</th>
                <th>Fatura</th>
                <th>Aeroporto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <a href="/opeeracoes/1">11</a>
                </th>
                <th>A</th>
                <th>1</th>
                <th>R$ 100</th>
                <th>1</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
