<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="page-title">Sobre a Plataforma</h3>
            </div>
          </div>
        </div>
        <form>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Versão UI</label>
            <div class="col-lg-9">
              <input type="text" value="{{ui}}" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Versão Plataforma Web</label>
            <div class="col-lg-9">
              <input type="text" value="{{web}}" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Versão API Pública</label>
            <div class="col-lg-9">
              <input type="text" value="{{api}}" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Versão Serviços</label>
            <div class="col-lg-9">
              <input type="text" value="{{services}}" class="form-control" disabled>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
