<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table mb-0">
            <thead>
              <tr>
                <th>Nome do Serviço</th>
                <th>Preço do Serviço</th>
                <th>Aeroporto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of data">
                <th>{{service.name}}</th>
                <th>R$ {{service.price}}</th>
                <th>{{service.airport}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
